MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourCluster.mongodb.net
MONGODB_DB=contacts
 PORT=3000

SMTP_HOST=smtp.brevo.com
SMTP_PORT=587
SMTP_USER=947920001@smtp-brevo.com
SMTP_PASSWORD=dHy8z526W0mMvYKV
SMTP_FROM=yegorveretelnik@gmail.com

JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_CLOUD_NAME=ddhz5ndfl
CLOUDINARY_API_KEY=386746357294991
CLOUDINARY_API_SECRET=i4dzpTI2L84NZIdquIg8sVM3JWU