MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourCluster.mongodb.net
MONGODB_DB=contacts
 PORT=3000

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=yourBrevoSMTPUser
SMTP_PASSWORD=yourBrevoSMTPPassword
SMTP_FROM=yourEmail@brevo.com

JWT_SECRET=VOQjLdrpG1TWCHhDzv3o
APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_CLOUD_NAME=yourCloudName
CLOUDINARY_API_KEY=yourApiKey
CLOUDINARY_API_SECRET=yourApiSecret